<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Categories List</h1>

    {% for el in object_list %}
     <p>
            {{ el.id }} : {{ el.nome }}
        <a href="{% url 'menu:category_detail' el.id %}">Visualizza Dettaglio</a>
     </p>
    {% endfor %}
    <p>
        <a href="{% url 'menu:create_category' %}">Crea nuovo oggetto</a>
    </p>
    
</body>
</html>