<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Category Form</h1>
    
<form action="" method="post">
    {{ form.as_p }}
    <input type="submit" value="Salva">
</form>

<p>
    <a href="{% url 'menu:create_category' %}">Crea nuovo oggetto</a>
</p>


</body>
</html>