<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Categories {{ object.id }} : {{ object.name }}</h1>
<p><a href="{% url 'menu:categories_list' %}">Torna alla lista di categorie</a></p>
    <p>{{ object.description }}</p>
</body>
</html>