{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous" defer></script>


    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
        <nav class="navbar bg-white navbar-white navbar-expand-lg shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand  cHover cGreen fs-2" href="{% url 'home' %}">
                    Dr.John Smith
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0  fs-5">
                        <li class="nav-item">
                            <a class="nav-link active cHover" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="#contact">Contact Us</a>
                        </li>     
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'booking' %}">Online Booking</a>
                        </li>                   
                        {% if user.is_authenticated %}
                        <!--Clinic Staff Link-->
                        <li class="nav-item">
                            <a class="nav-link active cHover" href="{% url 'staffPanel' %}">Staff Panel</a>
                        </li> 
                        <li class="nav-item dropdown me-3 fs-5">
                            <a class="nav-link active dropdown-toggle cHover" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              User
                            </a>
                            <ul class="dropdown-menu  border zNav">
                              <li><a class="dropdown-item" href="{% url 'userPanel' %}">User Panel</a></li>
                              <li><hr class=""></li>
                              <li><a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item me-3">
                            <a class="nav-link active cHover" href="{% url 'register' %}">Sign in/Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        

        <!--Messages Start-->
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success  alert-dismissible fade show text-center " role="alert">
                <h3 class="display-3">{{ message }}</h3>
                <button type="button" class="btn-close fs-1 position-absolute top-50 start-0 translate-middle-y" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        <!--Messages End-->

    </header>


    {% block body %}
    {% endblock %}
    <footer class="bg-dark text-white">
        <div class="container-fluid pt-3">
            <section class="">
                <div class="container text-center text-md-start mt-5">
                  <!-- Grid row -->
                  <div class="row mt-3 text-center">
            
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h5 class="text-uppercase fw-bold mb-4 textGradient" id="contact">
                            Contact Us
                        </h5>
                        <p>
                            <a href="tel: 12345678" class=""><span class="cBlue">Tel: 12345678</span></a>
                        </p>
                        <p>
                            <a class="uLine cHover" href="{% url 'booking' %}" >Online Booking</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    
                    <!-- Service links Regular -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h5 class="text-uppercase fw-bold mb-4 textGradient">
                            Services
                        </h5>
                        <p>
                            <a href="#!" class="uLine">Doctor care</a>
                        </p>
                        <p>
                            <a href="#!" class="uLine">Nursing care</a>
                        </p>
                        <p>
                            <a href="#!" class="uLine">Medical social services</a>
                        </p>
                        <p>
                            <a href="#!" class="uLine">Homemaker or basic assistance care</a>
                        </p>
                    </div>
                    <!-- Service links Regular -->
                  </div>
                  <!-- Grid row -->
                </div>
              </section>
        </div>
    </footer>
  </body>
</html>